*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

li{
    list-style: none;
    cursor: pointer;
}


button{
    padding: 10px 20px;
    color:#000000;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    
}
button:hover{
    background: black;
    color: white;
   
}

a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}
a:hover{
    text-decoration: underline;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
    background: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px);
}
#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav-logo-outer{
    font-size: 22px;
    font-weight: 400;
    color: #333;
    object-fit: cover;
    overflow: hidden;

}
#logo-img{
    width: 30px;
    height: 30px;

}

#nav-links{
    display: flex;
    gap: 30px;
    color: #f5f5f5;
}
#nav-btns{
    display: flex;
    gap: 8px;
}

#nav-contact-btn{
    font-weight: 600;
    background-color: transparent;
    color: #f5f5f5;
    background:transparent;
    
}
#nav-contact-btn:hover{
    background-color: #f5f5f5;
    color: #000;
    text-decoration: underline;
}


#nav-start-btn{
    font-weight: 600;
    background-color: #fff;
    color: black;
    border: 1px solid #f5f5f5;
}
#nav-start-btn:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}


/* Hero Section */
.hero-container{
    height: 100%;
    background-image: url(https://www.mintlify.com/hero/bg-light.svg);
    background-size: cover;
    background-position: center;
    /* padding: 80px 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    object-fit: cover;
    overflow: hidden;
}
#outer-container{
    margin-top: 80px;
    height: 80%;
    width: 80%;
    /* background: #000; */
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
#inner-container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1{
        font-size: 48px;
        color: #ffffff;
    }
    p{
        font-size: 18px;
        color: white;
        max-width: 500px;
    }
}
#inner-container-1-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
#inner-container-2{
    object-fit: cover;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
    border-radius: 18px;
}
/* #Input-box{
    
} */
form{
    display: flex;
    gap: 10px;
    input{
        padding: 10px 20px;
        border: 1px solid #f5f5f5;
        border-radius: 20px;
        width: 300px;
        background-color: #ffffff;
        color: #000000;
        
    }
    
}

/* Trusted By Section */
.Trusted-By{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    height: 200px;
    
    margin: 80px 0px 0px 0px;
    border-radius: 18px;
}

.Trusted-By div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        overflow: hidden;
    }
    z-index: 1;
}
#company-7 img{
    width: 40px;
    height: 60px;
}

/* Feature Section */
.feature-section{
    margin: 100px 0px;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* padding: 80px 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
    overflow: hidden;
   
}

/* Outer Container for Feature Section */
#outer-feature-container{
    margin-top: 80px;
    height: 80%;
    width: 80%;
    /* background: #000; */
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 20px;

}



/* Inner Container for Feature Section */
#inner-feature-container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1{
        font-size: 48px;
        color: #0f0404b5;
    }
    p{
        font-size: 18px;
        color: #000;
        max-width: 500px;
    }
}
#inner-feature-container-1-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
    text-align: center;
   align-items: center;
}
#inner-feature-container-2{
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
    
}
#inner-feature-container-2 div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 18px;
    padding: 20px;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
}
#feature-a-tag{
    font-size: smaller;
    color: green;
}

/* Assistant container */
.assistant-section{
    margin: 100px 0px;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* padding: 80px 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
    overflow: hidden;
   
}

#assistant-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: #666060 1px solid;
    width: 70%;
    height: 100%;
    border-radius: 18px;

}

#assistant-div-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    h1{
        font-size: 48px;
        color: #0f0404b5;
    }
    p{
        display: flex;
        justify-content: center;
        font-size: 18px;
        color: #000;
        max-width: 500px;
        align-items: center;
    }
}
#assistant-div-2{
overflow: hidden;
object-fit: cover;
}

#Enterprise-reinvention{
    width: 100%;
    height: 420px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    gap: 20px;
    justify-content: center;    
    align-items: center;
    margin-top: 100px;
}
#Enterprise-1{
    width: 80%;
    height: 100%;
    
    border-radius: 18px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 100px;
    margin: 18px auto;
    font-size: medium;
    h1{
        font-size: 48px;
        color: #0f0404b5;
    }

}
#Enterprise-2{
    width: 80%;
    height: 100%;
    justify-content: space-between;
    border-radius: 18px;
    color: #000;
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 100px;
    margin: 18px auto;

}
#Enterprise-2 button{
    border: #f5f5f5 1px solid;
    color: #fff;
    background: #000;
   
}
#Enterprise-2 button:hover{
    background: #fff;
    color: #000;
}

/* Enterprise container */
.enterprise-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprise-container {
    display: grid;
    grid-template-rows: 1fr 2fr;  /* 1fr + 2fr */
    gap: 30px;
    width: 80%;
    height: 80vh;  /* Important for fr to work */
}

/* -------- Row 1 -------- */
.top-row {
    display: flex;
    gap: 30px;
    font-size: medium;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 50%;  
    width: 50%;
    background: #fff;
    z-index: 1;
    border-radius: 22px;
    padding: 20px;
    height: auto;
}
.card img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 18px;
}

/* -------- Row 2 -------- */
.bottom-row {
    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 20px;
}

.bottom-row img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 18px;
}

.small-logo-section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    height: 200px;
    
    margin: 20px 0px 0px 0px;
    border-radius: 32px;
}
.small-logo-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img{
        width: 150px;
        height: 150px;
        object-fit: contain;
        overflow: hidden;
    }
}

.story-section{
    margin-top: 500px;
    height: 100%;
    padding: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
    overflow: hidden;
    background: #f5f5f5;

}
.story-section-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 80%;
    background:#fff;
    border-radius: 18px;
}

#inner-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    h1{
        font-size: 48px;
        color: #1c1b1bb5;
    }
    p{
        display: flex;
        justify-content: center;
        font-size: 18px;
        color: #1c1b1bb5;
        max-width: 500px;
        align-items: center;
    }
}
#inner-2{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
    object-fit: cover;
    border-radius: 18px;
    
}
#inner-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 18px; */

}
#inner-2 div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        border-radius: 18px;
        z-index: 1;
    }
#inner-2 div button{
    border: gray 1px solid;
    padding: 10px 20px;
    border-radius: 18px;
    cursor: pointer;
    font-size: medium;
}

/* CTA section */
.final-cta{
    margin-top: 100px;
    height: 100%;
    padding: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: cover;
    overflow: hidden;
    background: #f5f5f5;
   
}
#cta-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background :#f5f5f5;
    gap: 30px;
    padding: 28px;
 border-radius: 18px ;
}
#cta-container header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* font-size: medium; */
    color: #333;
}
#cta-container  section{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
#cta-container section button{
    width: 180px;
    height: 100%;
    background: #000;
    border: white px solid;
    color: #f5f5f5;
    border-radius: 20px;
    cursor: pointer;
}
#cta-container section button:hover{
    background: gray;
    color: #000;
    box-shadow: blueviolet;
}
#cta-div{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#cta-div section{
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 10px;
    border: #f5f5f5 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 18px;
    background:#fff;
    z-index: 1;
    font-size: medium;

}
#cta-div section img{
    height: 40px;
    width: 40px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 18px;
}

footer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff;
    color: #000;
    overflow: hidden;
    z-index:1;
}
#footer-container{
    display: grid;
    width: 90%;
    height: 90%;
    background: #f5f5f5;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
    border: gray 1px solid;
}
#footer-container div{
    padding: 100px;
}
#footer-container-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}
#footer-container-1 img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 18px;
}
#footer-container-1 div{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    color: #000;

}